<template>
  <div class="column">
    <h2 class="column-title">{{ list.title }} ({{ list.Tasks.length }})</h2>
    <ul class="column-list">
      <template
        v-if="draggableList"
      >
        <draggable
          ref="drag"
          class="list-group"
          v-model="computedList"
          group="task"
          item-key="id"
        >
          <template #item="{ element }">
            <TaskComponent :task="element" />
          </template>
        </draggable>
        <p v-if="draggableList.Tasks.length === 0">
          No task
        </p>
      </template>
    </ul>
  </div>
</template>

<script>
import TaskComponent from '../Task/TaskComponent.vue'
import draggable from 'vuedraggable'

export default {
  name: 'ListComponent',
  components: {
    TaskComponent,
    draggable
  },
  props: {
    list: {
      type : Object,
      required: false,
      default: null
    }
  },
  data: () => {
      return {
        draggableList: null,
      }
  },
  computed: {
    computedList: {
      get() {
          return this.draggableList.Tasks
      },
      set(value) {
        // value is sort correctly so juste update this
        value.forEach(async (task, index) => {
          const payload = {
            ListID: this.$refs.drag.$parent.list.ID,
            rank: index+1
          }
          
          await this.$Crud.tasks.update(task.ID, payload)
          .then((res) => {
            console.debug("response", res);
            this.$nextTick(() => {
              this.$store.dispatch('table/search')
            })
          })
          .catch((err) => {
            console.error('error', err);
          })
        });
      }
    }
  },
  mounted() {
    this.draggableList = this.list
  },
  methods: {}
}
</script>

<style scoped>
    .column {
        background-color: rgb(228, 239, 255);
        padding-bottom: 0.5rem;
        width: 300px;
        min-height: 80px;
    }

    .column:hover .column-title {
        color: rgb(255, 255, 255);
        background-color: rgb(125, 154, 197);
    }
    .column-title {
        background-color: rgb(187, 207, 236);
        padding: 0.5rem;
        transition: all .2s ease-in-out;
    }
    .column-list {
        padding: 0;
    }
</style>