<template>
  <div>
    ...
    <TableComponent />
  </div>
</template>

<script>
import TableComponent from '@/components/Table/TableComponent.vue'


export default {
  name: "HomePage",
  components: {
    TableComponent,
  },
  data() {
    return{}
  },
  methods: {
  }
}
</script>


<style scooped>

</style>