<!--
 ____    ____   ___   ______        _       _____     
|_   \  /   _|.'   `.|_   _ `.     / \     |_   _|    
  |   \/   | /  .-.  \ | | `. \   / _ \      | |      
  | |\  /| | | |   | | | |  | |  / ___ \     | |   _  
 _| |_\/_| |_\  `-'  /_| |_.' /_/ /   \ \_  _| |__/ | 
|_____||_____|`.___.'|______.'|____| |____||________| 
                                                      
ModalContainer can manage all modal and pass params in child
All modal are load into modalList which is list of modal
Then we make v-for to load every modal, so they are independents
A TransitionGroup is load when a modal is up or remove
-->
<template>
  <div
    id="modal"
    ref="modal-container"
    :class="{ 'show-modal': showModal }"
    @keyup.escape="closeModal"
    @click="onClick"
  >
    <TransitionGroup
      tag="div"
      appear
    >
      <div
        v-for="(modal, idx) in modalList"
        :key="modal + '-' + idx"
      >
        <component
          :is="modal"
          ref="modalRef"
          :key="'component-' + modal + '-' + idx"
          :payload="payload"
          :errors="errors"
          @updateValue="onUpdateValue"
          @close="closeModal"
        />
        <!-- remove the modal if the click is outside of it -->
        <div
          v-if="showModal"
          :key="'div-' + modal + '-' + idx"
          class="disable-modal"
          @click="closeModal"
        />
      </div>
    </TransitionGroup>
  </div>
</template>

<script>
import { mapState } from 'vuex'

// Import all modal here
// import ModalName from '@/components/modal/ModalName';

import ModalDeleteConfirm from '@/components/modal/ModalDeleteConfirm';
import ModalList from '@/components/modal/ModalList';
import ModalTable from '@/components/modal/ModalTable';
import ModalTask from '@/components/modal/ModalTask';

export default {
  name: 'ModalContainer',
  components: {
    ModalDeleteConfirm,
    ModalList,
    ModalTable,
    ModalTask
  },
  computed: {
    ...mapState('modal', {
      payload: (state) => state.modalPayload,
      showModal: (state) => state.modalShow,
      modalList: (state) => state.modalList,
      errors: (state) => state.modalErrors,
    }),
  },
  methods: {
    /**
     * @param {String} event
     * 
     */
    onClick: function (event) {
      if (event.target == this.$refs['modal-container']) this.closeModal()
    },
    /**
     * Close the modal
     */
    closeModal: function () {
      this.$store.dispatch('modal/closeDialog')
    },
    // eslint-disable-next-line no-unused-vars
    onUpdateValue: function (value) {
      // NOT USED
    },
  },
}
</script>

<style scoped>
@import '../../assets/modals.css'
</style>
