<template>
  <div class="blur-modal">
  </div>
  <div class="modal">
    <h1 class="modal-title">Add a List</h1>
    <BaseInputContainer
      v-model="title"
      :errors="errors && errors.data ? errors.data : null"
      field-type="string"
      max-length="30"
      placeholder="Title of the List"
      label="Name"
      @keypress.enter="handleSubmitForm"
    />  
    <button class="close_btn" @click="closeModal">X</button><br>
    <button class="modal-button" @click="handleSubmitForm">Ajouter</button>
  </div>
</template>

<script>
import { modal } from '@/mixins/modal'

export default {
    name: 'ModalList',
    components: {},
    mixins: [modal],
    data: () => {
        return {
          title: "",
          TableID: 1,
        }
    },
    methods: {
      handleSubmitForm: function() {
        const payload = {
          title: this.title,
          TableID: this.TableID
        }
        console.log("payload", payload);
        this.$Crud.lists.create(payload)
        .then((response) => {
          console.debug("response", response);
          this.$store.dispatch('table/search')
          this.closeModal()
        })
        .catch((error) => {
          console.debug("error", error);
        })
      }
    },
}
</script>

<style scoped>
@import '../../assets/modals.css'

</style>