<template>
    <div class="blur-modal">
    </div>
    <div class="modal">
        <h1 class="modal-title">Add a task</h1>
        <BaseInputContainer
          v-model="title"
          :errors="errors && errors.data ? errors.data : null"
          field-type="string"
          max-length="30"
          placeholder="Title of the task"
          label="Name"
          @keypress.enter="handleSubmitForm"
        />        
        <BaseInputContainer
          v-model="desc"
          :errors="errors && errors.data ? errors.data : null"
          field-type="string"
          max-length="30"
          placeholder="Description of the task"
          label="Description"
          @keypress.enter="handleSubmitForm"
        />        
        <BaseInputContainer
          v-model="listID"
          :errors="errors && errors.data ? errors.data : null"
          :select-list="selectList"
          field-type="select"
          placeholder="Select a list"
          label="list"
          @keypress.enter="handleSubmitForm"
        />
        <button class="close_btn" @click="closeModal">X</button><br>
        <button class="modal-button" @click="handleSubmitForm">Ajouter</button>
    </div>
</template>

<script>
import { modal } from '@/mixins/modal'

export default {
    name: 'ModalTask',
    components: {},
    mixins: [modal],
    data: () => {
        return {
          title: "",
          desc: "",
          listID: 0,
          selectList: {
            "Select a list": 0
          },
        }
    },
    methods: {
      handleSubmitForm: function() {
        const payload = {
          title: this.title,
          desc: this.desc,
          rank: 1,
          ListID: this.listID
        }
        console.log("payload", payload);
        this.$Crud.tasks.create(payload)
        .then((response) => {
          console.debug("response", response);
          this.$store.dispatch('table/search')
          window.ipc.send('task', "created");
          this.closeModal()
        })
        .catch((error) => {
          console.debug("error", error);
        })
      },
      getSelectedList: function() {
        this.$Crud.lists.getListByTable(1)
        .then((response) => {
          console.debug("response", response);
          response.data.result.forEach(list => {
            this.selectList = {
              ...this.selectList, [list.title]: list.ID
            }
          });
        })
        .catch((error) => {
          console.debug("error", error);
        })
      }
    },
    mounted: function() {
      this.getSelectedList()
    }
}
</script>

<style scoped>
@import '../../assets/modals.css'
</style>