<template>
  <div class="blur-modal">
  </div>
  <div class="modal">
    <h1 class="modal-title">Are you sure you want to delete this task ?</h1>
    <button class="modal-button" @click="deleteTask">YES</button><br>
    <button class="modal-button" @click="closeModal">NO</button>
  </div>
</template>

<script>
import { modal } from '@/mixins/modal'

export default {
    name: 'ModalDeleteConfirm',
    components: {},
    mixins: [modal],
    data: () => {
        return {
          title: "",
          TableID: 1,
        }
    },
    methods: {
      deleteTask: function() {
        this.$Crud.tasks.destroy(this.item.id)
        .then((response) => {
          console.debug("response", response);
          this.$store.dispatch('table/search')
          window.ipc.send('task', "deleted");
          this.closeModal()
        })
        .catch((error) => {
          console.debug("error", error);
        })
      }
    },
}
</script>

<style scoped>
@import '../../assets/modals.css'

</style>