<template>
  <div class="table">
    <h1 class="table-title">Kanban Board ({{ table[0].title }})</h1>
    <div 
      v-if="table && table.length > 0" 
      class="list-container"
    >
      <div 
        v-for="list in table[0].Lists" 
        :key="list.key" 
      >
          <ListComponent 
            :list="list"
            :key="componentKey"
          />
      </div>
      <button 
        class="open-modal list"
        @click="onOpenModalList"
      >
        Add a List
      </button>
      <button 
        class="open-modal task"
        @click="onOpenModalTask"
      >
        Add a Task
      </button>
    </div>
    <div
      v-else
    >
      <button 
        class="open-modal table"
        @click="onOpenModalTable"
      >
        Add a Table
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ListComponent from './List/ListComponent.vue'

export default {
    name: 'TableComponent',
    components: {
      ListComponent,
    },
    props: {},
    watch: {
      table: function() {
        this.componentKey++
      }
    },
    computed: {
      ...mapState('table', [ 
        'table'
      ])
    },
    data: () => {
        return {
          componentKey: 0
        }
    },
    methods: {
      onOpenModalList: function () {
        const payload = {
          modalModel: 'ModalList',
          item: {}
        }
        this.$store.dispatch('modal/openDialog', payload)
      },      
      onOpenModalTable: function () {
        const payload = {
          modalModel: 'ModalTable',
          item: {}
        }
        this.$store.dispatch('modal/openDialog', payload)
      },
      onOpenModalTask: function () {
        const payload = {
          modalModel: 'ModalTask',
          item: {}
        }
        this.$store.dispatch('modal/openDialog', payload)
      },
    },
}
</script>

<style scoped>
.table {
    color: rgb(124, 124, 124);
    font-size: 0.8rem;
    text-align: left;
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    -moz-box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    -webkit-box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    -o-box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    border-radius:25px;
    padding: 1rem;
    background-color: rgb(248, 248, 248);
    margin: 2rem;
}
.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.open-modal {
  position: absolute;
  top: 85px;
  padding: 1rem;
  border: none;
  color: rgb(65, 65, 65);
  border-radius: 10px;
  background-color: rgb(103, 216, 103);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 777;
}.open-modal:hover  {
  background-color:rgb(65, 177, 65);
  color: #fff;
}

.table {
  left: 71%;
}

.list {
  left: 79%;
}

.task {
  left: 88%;
}

@media (max-width : 1200px) {
  .table {
    left: 61%;
  }

  .list {
    left: 65%;
  }

  .task {
    left: 81%;
  }
}
@media (max-width : 820px) {
  .table {
    left: 55%;
  }

  .list {
    left: 60%;
  }

  .task {
    left: 75%;
  }
}
</style>