.modal {
    border-radius: 10px;
    transition: all .8s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 400px;
    width: 800px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.modal-title {
    align-self: flex-center;
    text-transform: uppercase;
}
.modal-button {
    border: inherit;
    align-self: center;
    justify-self: end;
    padding: 1.5rem;
    width: 10rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 777;
    font-size: 1rem;
    background-color: rgb(158, 196, 228);
    text-transform: uppercase;
}
.modal-button:hover {
    background-color: rgb(117, 145, 169);
    color: #fff;
}
.blur-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: #0000006a;
}
.close_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    background: none;
    border-radius: 25px;
    border-color: transparent;
}
.close_btn:hover {
    transform: rotate(359deg);
    transition: all .5s;
}
.disable-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: #000000ad;
  }