<template>
  <li class="task-item">
    <BaseInputContainer
      v-if="isEdited"
      v-model="data"
      :errors="errors && errors.data ? errors.data : null"
      field-type="string"
      max-length="30"
      placeholder="Title of the task"
      label="Task name's"
      @keypress.enter="handleSubmitForm"
    />
    <p 
      v-else
      class="task-item-title"
    >
      {{ data }}
    </p>
    <div class="task-item-buttons">
      <!-- <BaseButton
        class="task-item-button edit"
        icon="edit-icon"
        @click="handleSubmitForm"
      /> -->
      <button 
        class="task-item-button edit"
        @click="isEdited = !isEdited"
      >
          <svg xmlns="http://www.w3.org/2000/svg" class="task-icons" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
          </svg>
      </button>
      <button 
        class="task-item-button delete"
        @click="onOpenModalDelete"
      >
          <svg xmlns="http://www.w3.org/2000/svg" class="task-icons" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
          </svg>
      </button>
    </div>
  </li>
</template>

<script>
export default {
    name: 'TaskComponent',
    props: {
      task: {
        type: Object,
        required: false,
        default: null
      }
    },
    data: () => {
        return {
          isEdited: false, 
          data: "",
          errors: null
        }
    },
    computed: {
      getTitle: function() {
        return this.task.title
      }
    },
    mounted: function() {
      this.data = this.getTitle
    },
    methods: {
      handleSubmitForm: function() {
        const payload = {
          title: this.data
        }
        this.$Crud.tasks.update(this.task.ID, payload)
        .then((response) => {
          console.debug("response", response);
          this.isEdited = !this.isEdited
          window.ipc.send('task', "updated");
        })
        .catch((error) => {
          console.debug("error", error);
        })
      },
      onOpenModalDelete: function () {
        const payload = {
          modalModel: 'ModalDeleteConfirm',
          item: {
            id: this.task.ID
          }
        }
        this.$store.dispatch('modal/openDialog', payload)
      },
    }
}
</script>

<style scoped>
    .task-item {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        list-style:none;
        width: 15rem;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 1rem;
        transition: all .2s ease-in-out;
        cursor: pointer;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-self: center;
    }
    .task-item-title {
        align-self: center;
    }
    .task-item:hover {
        transform: scale(1.03);
        box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.164);

    }
     .task-item div.base-input-container :deep() div.base-textinput-container input {
      border: none;
      width: 100%;
      color: gray;
      padding: 1rem;
      border-bottom: 1px solid;
      font-size: 0.7rem;
      width: 50%;
    }
    .task-item-buttons {
        align-self: center;
    }
    .task-item-button {
        cursor: pointer;
        transform: rotate(90deg);
        border: none;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        transition: all .2s ease-in-out;
    }
    .task-item-button:hover {
        color: #fff;
    }
    .edit {
        background-color: rgb(136, 255, 136);
        margin-right: .5rem;
    }

    .edit:hover {
        background-color: rgb(82, 170, 82);
    }
    .delete {
        background-color: rgb(255, 117, 117);
    }

    .delete:hover {
        background-color: rgb(139, 62, 62);
    }
    .task-icons {
        cursor: pointer;
        height: 1.1rem;
        width: 1.1rem;
    }
</style>