<template>
  <!-- MODALS -->
  <ModalContainer />

  <!-- Router view -->
  <div class="main">
    <router-view />
  </div>
</template>

<script>
import ModalContainer from '@/components/modal/ModalContainer'

export default {
  name: 'App',
  components: {
    ModalContainer
  },
  mounted: function() {
    this.initStore()
  },
  methods: {
    initStore: function() {
      this.$store.dispatch('table/initStore', this.$Crud.tables)
      this.$store.dispatch('table/search')
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background-color: rgb(191, 205, 243);
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body {
  margin: 0;
}
</style>
